$footerHeight: 40px;

.app-container.app-component {
    height: 100%;
}

.fixed-top {
    position: inherit !important;
}

.branding {
    display: flex;
    justify-content: space-between;
    height: 81px;
    align-items: center;
  }

  .logosize{
    width: 300px;
    height: 65px;
  }

  .headerItem {
    font: normal bold 17px / 22px "Poppins";
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    text-align: center;
    color: #282592;
}

  .headerItem:hover {
    color: #282592;
}

.headerItem:first-child {
    padding-left: 0;
}

.headerItem:last-child {
    padding-right: 0;
}
  

main.app-component {
    height: calc(100% - #{$footerHeight});
    padding-top: 20px;
}

.footer-height.app-component {
    height: $footerHeight;
}

footer.app-component {
    width: 100%;
    height: $footerHeight;
    line-height: $footerHeight;
    background-color: #f5f5f5;
}


.navbar-brand.app-component > img {
    height: 30px;
}

.navbar.app-component .nav-pills > .active > a,
.navbar.app-component .nav-pills > .active > a:hover,
.navbar.app-component .nav-pills > .active > a:focus {
    background-color: #efefef;
    color: #808080;
}


.navbar.app-component .nav-pills > li > a {
    font-weight: bold;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.navbar.app-component .nav-link,
.navbar.app-component .navbar-text {
    color: white;
}


@media screen and (max-width: 991px) {
    .navbar.app-component .nav-pills > li + li {
        margin-left: 0;
        margin-top: 1px;
    }
}

@media screen and (min-width: 992px) {
    .navbar.app-component .nav-pills > li + li {
        margin-left: 2px;
    }
}


.prebootShow.app-component {
    opacity: 1 !important;
}

.prebootStep.app-component {
    opacity: 0;
    transition: .5s ease-in-out all;
}
